.c-task
  display: flex
  flex-direction: row
  max-width: 1000px
  width: 100%
  margin: 0 auto
  position: relative
  &:not(:nth-of-type(1))
    margin-top: 10px
  &--large 
    height: 60px
    border-radius: 20px
    overflow: hidden
    &__input
      font-size: 2.5rem
    &__btn
      font-size: 3rem

  &__input,  &__name
    flex-grow: 1
    font-size: 2rem
  &__name
    display: flex
    background-color: $gray
    padding: 10px
    transition: .2s linear
    hyphens: auto
    justify-content: space-between
    align-items: center
  &__cat-name
    display: inline 
    width: 100px
    padding: 2px 5px
    font-size: 1.8rem
    background-color: $darkBlue
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    color: $white
  &__btn
    min-width: 50px
    font-size: 2.2rem
    transition: .2s linear
  &.is-active &__name, &.is-active .o-btn--lightBlack, .o-btn--lightBlack:hover
    background-color: yellow
    color: $gray
    text-decoration: line-through
  &.is-active .o-btn--lightBlack:hover
    background-color: $lightBlack
    color: $white
  &.is-active .o-btn--lightBlack
    border-left: 2px solid $black
@media (min-width: 1024px)
  .c-task__cat-name
    width: 130px